body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}.alltext 
{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	padding-right:5px;
	line-height:16px;
}
.IptSty {
	font-family: "宋体";
	font-size: 14px;
	background-color: #b4c4e8;
	margin: 0px;
	height: 18px;
	width: 150px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	border: 1px solid #FFFFFF;
	color: #003366;
}
.BtnSty {
	font-family: "宋体";
	font-size: 12px;
	color: #484747;
	background-attachment: fixed;
	background-image: url(../images/images/btn_bg0.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 26px;
	width: 50px;
	padding:0px;
	border:0px;
}
#BgCss {
	font:"宋体";
	font-size:12px;
	color:#5d5d5d;
}
#NoBg {
	font:"宋体";
	font-size:12px;
	color:#5d5d5d;
}
.LgIpt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-image: url(../images/images/Login_10.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 157px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #adb9c2;
}
.LgBtn {
	background-image: url(../images/images/Login_06.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 65px;
	width: 65px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.LgIpt-y {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-image: url(../images/images/Login_10-y.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 157px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #adb9c2;
}
.LgBtn-y {
	background-image: url(../images/images/Login_06-y.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 65px;
	width: 65px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.LgIpt-g {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-image: url(../images/images/Login_10-g.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 157px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #adb9c2;
}
.LgBtn-g {
	background-image: url(../images/images/Login_06-g.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 65px;
	width: 65px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
